.heading-section .subheading {
    font-size: 50px;
    display: block;
    font-family: "Great Vibes", cursive;
    color: #c49b63;
    line-height: 1;
    margin-bottom: -21px;
    z-index: 1;
  }

  .heading-section h2 {
    z-index: 0;
    font-size: 40px;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
  }
  