.nav-link {
  margin-left: 15px;
  margin-right: 15px;
  color: aliceblue !important;
}

@media (max-width: 991.98px) {
  .ftco-navbar-light {
    background: #000 !important;
    position: relative;
    top: 0;
  }
}

.link-active {
  color: #c49b63 !important;
}
.cardRemove {
  background-color: transparent;
  padding: 0.5em;
  margin-top: 2em;
  &:hover {
    color: red;
    cursor: pointer;
  }
}

.cartTotal {
  width: 100%;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px;
}
