.about-intro {
  .about-sub-intro {
    margin-left: -4em;
    margin-top: 10em;
    padding: 2em;
    background-color: rgba(10, 9, 12, 0.5);
    width: 70%;
    height: 55%;
  }
}
.about-sub-customer {
  span {
    color: rgb(177, 140, 89);
    font-size: 3em;
    margin-top: 2em;
    display: block;
    font-style: italic;
  }
  h2 {
    margin-top: -0.6em;
    font-size: 3em;
    font-weight: 700;
    color: lightcyan;
  }
  p {
    color: lightgrey;
    width: 50%;
    margin: auto;
  }
}

.about-component-customer {
  :nth-child(odd) {
    background-color: rgb(177, 140, 89);
  }
}

.main-about-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
// scss for about network page

.network-icon {
  margin: 1em;
  i {
    color: rgb(177, 140, 89);
  }

  :hover {
    background-color: red;
    cursor: pointer;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari and Chrome */
    position: relative;
    color: white;
  }
  i:hover {
    // transform: rotate(-5deg);
  }
}
