.about-sub-customer {
  span {
    color: rgb(177, 140, 89);
    font-size: 3em;
    margin-top: 2em;
    display: block;
    font-style: italic;
  }
  h2 {
    margin-top: -0.6em;
    font-size: 3em;
    font-weight: 700;
    color: lightcyan;
  }
  p {
    color: lightgrey;
    width: 50%;
    margin: auto;
  }
}

.about-component-customer {
  width: 20%;
  :nth-child(odd) {
    background-color: rgb(177, 140, 89);
  }
}
@media (max-width: 992px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .about-component-customer {
    width: 100%;
  }
}
.main-about-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
// scss for about network page

.about-story-section {
  span {
    color: rgb(177, 140, 89);
    font-size: 3em;
    margin-bottom: -1em;
    display: block;
    font-style: italic;
  }
}
@media (min-width: 1024px) {
  .about-story-section {
    padding-top: 8em;
    margin-left: -8em;
  }
}

@media (max-width: 1024px) {
  .about-story-section {
    margin: 1em;
  }
}
