.footer {
  padding-top: 5rem;
  color: white;
  background-color: rgb(52, 58, 64);
}

.footer-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

blockquote {
  padding: 5rem;
  text-align: center;
  font-size: 1.2rem;
  margin: 0;
}

.about {
  flex: 0 0 25%;
  max-width: 25%;

  h1 {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    padding-bottom: 2rem;
  }

  p {
    padding-bottom: 2rem;
    font-size: 1.1rem;
  }
}

.about-icon {
  font-size: 2rem;
  width: 15rem;
  height: 15rem;

  .fab {
    text-align: center;

    height: 3.5rem;
    width: 3.5rem;
    padding: 0.8rem;
    border-radius: 50%;
    margin: 0.5rem;
    background: rgb(34, 32, 31);
  }
}

//blog section
.blogs {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;

  h2 {
    padding-bottom: 2rem;
  }
}

// Services section
.services {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;

  h3 {
    padding-bottom: 2rem;
    font-size: 1.2rem;
  }
}

.services-list {
  font-size: 1.2rem;
  text-transform: uppercase;

  ul {
    list-style: none;
    padding: 0;

    li {
      padding-bottom: 1.5rem;
    }
  }
}

//questions section

.questions {
  flex: 0 0 25%;
  max-width: 15%;

  h2 {
    padding-bottom: 2rem;
  }

  ul {
    font-size: 1.2rem;
    list-style-type: none;
    padding: 0;

    li {
      padding-bottom: 1rem;

      span:first-child {
        padding-right: 1rem;
      }
    }
  }
}
