//change to the menuIntro
.subheading {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: -23px;
  z-index: 1;
  display: block;
}

.intro-menu {
  font-size: 3.4rem;
  color: white;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.description-menu {
  font-size: 1.1rem;
  color: #f8f9fa;
}

.SubMenuItems {
  display: flex;
  justify-content: center;
  width: 50%;
  flex-wrap: wrap;
  margin: auto;
  gap: 1rem;
}
